# Lists

Data Structure:

A data structure is a collection of data elements(such as numbers or characters - or even other data structures) that is structured in some way, for example, by numbering the elements.The most basic data structure in Python is the "sequence".

-> List is one of the Sequence Data structure

-> Lists are collection of items(Strings, integers or even other lists)

-> Lists are enclosed in []

-> Each item in the list has an assigned index value.

-> Each item in a list is seperated by a comma.

-> Lists are mutable, which means they can be changed.

## List Creation

In [7]:
emptyList = []
lst = ['one', 'two', 'three', 'four'] # list of strings
lst2 = [1, 2, 3, 4] # list of integers
lst3 = [[1,2],[3,4]] # list of lists
lst4 = [1 , 'ramu', 24, 1.25]
print(lst4)

[1, 'ramu', 24, 1.25]

## List Length

In [8]:
lst = ['one', 'two', 'three', 'four']
# find length of a list
print(len(lst))

4

## List Append

In [9]:
lst = ['one', 'two', 'three', 'four']
lst.append('five') # append will add the item at end
print(lst)

['one', 'two', 'three', 'four', 'five']

## List Insert

In [10]:
#syntax: lst.insert(x,y)

lst = ['one', 'two', 'four']
lst.insert(2,'three') # will add element y at location x
print(lst)

['one', 'two', 'three', 'four']

## List remove

In [11]:
#syntax: lst.remove(x)

lst = ['one', 'two', 'three', 'four', 'two']
lst.remove('two') # it will remove first  occurences of 'two' in a given list
print(lst)

['one', 'three', 'four', 'two']

## List Append & Extend

In [12]:
lst = ['one', 'two', 'three', 'four']
lst2 = ['five', 'six']
#append
lst.append(lst2)
print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [13]:
lst = ['one', 'two', 'three', 'four']
lst2 = ['five', 'six']
#extends will  join  the list with list1
lst.extend(lst2)
print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

## List Delete

In [1]:
# del to remove itwm based on index position

lst = ['one', 'two', 'three', 'four', 'five']
del lst[1]
print(lst)

#or  we can use pop() method
a = lst.pop(1)
print(a)

print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

In [2]:
lst = ['one', 'two', 'three', 'four']

# remove an item from list
lst.remove('three')
print(lst)

['one', 'two', 'four']

## List related keywords in Python

In [4]:
# keyword 'in' is used to test if an item is in a list

lst = ['one', 'two', 'three', 'four']
if 'two' in lst:
    print('AI')
    #keyword 'not' can combined with 'in'
if 'six' not in lst:
    print('ML')

AI
ML

## List Reverse

In [5]:
# reverse is reverses the entire list

lst = ['one', 'two', 'three', 'four']

lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

## List Sorting

The easiet way to sort a List with the sorted (list) function.

That takes a list and returns a new list with those elements in sorted order.

The original list is not changed.

The sorted() optional argument reverse = True, e.g. sorted (list, reverse =True), makes it sort backwards.

In [1]:
# create a list with numbers

numbers = [3, 1, 6, 2, 8, 4]

sorted_lst = sorted(numbers)

print("Sorted list :", sorted_lst)

# original list remain unchanged
print("Original list: ", numbers)

Sorted list : [1, 2, 3, 4, 6, 8]
Original list:  [3, 1, 6, 2, 8, 4]

In [2]:
# print a list in reverse sorted order

print("Reverse sorted list: ", sorted(numbers, reverse=True))

# original list remain unchanged
print("Original list: ", numbers)

Reverse sorted list:  [8, 6, 4, 3, 2, 1]
Original list:  [3, 1, 6, 2, 8, 4]

In [3]:
lst = [1, 20, 5, 5, 4.2]

#sort the list and stored in itself
lst.sort()
print("Sorted list :", lst)

Sorted list : [1, 4.2, 5, 5, 20]

In [4]:
#add element 'a' to the list to show an error

lst = [1, 20, 'b', 5,'a']
print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

## List Having Multiple References

In [6]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

#print original list
print("Original list: ", lst)

Original list:  [1, 2, 3, 4, 5, 6]

## String Split to create a list

In [1]:
#let's take a string

s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [3]:
s = "This is appiled AI Course"

split_lst = s.split() # default split is white character: space or tab
print(split_lst)

['This', 'is', 'appiled', 'AI', 'Course']

## List Indexing

 Each item in the list has assigned index value statring from 0
 
 Accessing elements in a list is called indexing